{% extends 'base.html' %}
{% load static %}

{% block title %}How To Play{% endblock title %}
{% block content %}
<section class="mx-auto px-20 min-w-5xl max-w-full py-10">
    <div class="flex flex-wrap items-center justify-center">
        <div class="tabs tabs-boxed">
            <a class="tab w-32 tab-active">2 players</a> 
            <a class="tab w-32">3 - 6 players</a> 
          </div>
    </div>
    <p>Here's how to play this game. (Instructions coming soon)</p>

</section>

{% endblock content %}