{% extends 'base.html' %}
{% load static %}

{% block title %}How To Play{% endblock title %}
{% block content %}
<section class="mx-auto px-5 md:px-20 min-w-5xl max-w-full py-10">
    <div class="hero">
        <div class="hero-content text-center lg:max-w-3xl">
            <div>
                <h1 class="text-3xl md:text-5xl font-black">How to Play</h1>
                <div class="flex flex-wrap items-center justify-center py-10">
                    <div class="tabs tabs-boxed">
                        <a id="twoPlayerTab" class="tab lg:w-32 font-bold tab-active">2 players</a> 
                        <a id="morePlayersTab" class="tab lg:w-32">3 - 6 players</a> 
                    </div>
                </div>
                <div id="twoPlayerTabContent">
                    <div class="text-left">
                        <h2 class="text-primary text-xl md:text-3xl font-extrabold mb-4">Step 1</h2>
    
                        <p>Questions are divided into 3 stages:</p>
                        <div class="ml-8">
                            <ul>
                                <li><span class="font-bold">Stage 1 'Perception'</span>: on self-image and how others perceive you.</li>
                                <li><span class="font-bold">Stage 2 'Connection'</span>: personal questions on your past, present, and eternal future.</li>
                                <li><span class="font-bold">Stage 3 'Edification'</span>: questions to help build one another up to the image of Christ.</li>
                                <br>
                                <li>You may choose how many questions per stage you want to play (minimum 3).</li>
                            </ul>
                        </div>
                    </div>

                    <div class="divider"></div>
                    
                    <div class="text-left">
                        <h2 class="text-primary text-xl md:text-3xl font-extrabold mb-4">Step 2</h2>
    
                        <p>Youngest player takes the first turn.<br>
                            Read out the first question to the other player who will respond.<br>
                            The active player is allowed to ask follow-up questions, but the responding player can decline to answer.
                        </p>
                    </div>

                    <div class="divider"></div>
    
                    <div class="text-left">
                        <h2 class="text-primary text-xl md:text-3xl font-extrabold mb-4">Step 3</h2>
    
                        <p>Swap players; the responding player is now the active player and will be the one asking the question.<br>
                            As both players progress through the stages, the questions are meant to become more personal.
                        </p>
                    </div>

                    <div class="divider"></div>
    
                    <div class="text-left">
                        <h2 class="text-primary text-xl md:text-3xl font-extrabold mb-4">Step 4</h2>
    
                        <p>At the end of the game, each player writes (or texts) a personal note to the other player.<br>
                            They are not allowed to read the note right away - read it once you have split up / left the room.
                        </p>
                    </div>
                </div>

                <div id="morePlayersTabContent" class="hidden">
                    <div class="text-left">
                        <h2 class="text-primary text-xl md:text-3xl font-extrabold mb-4">Step 1</h2>
    
                        <p>Questions are divided into 3 stages:</p>
                        <div class="ml-8">
                            <ul>
                                <li><span class="font-bold">Stage 1 'Perception'</span>: on self-image and how others perceive you.</li>
                                <li><span class="font-bold">Stage 2 'Connection'</span>: personal questions on your past, present, and eternal future.</li>
                                <li><span class="font-bold">Stage 3 'Edification'</span>: questions to help build one another up to the image of Christ.</li>
                                <br>
                                <li>You may choose how many questions per stage you want to play (minimum 3).</li>
                            </ul>
                        </div>
                    </div>

                    <div class="divider"></div>
                    
                    <div class="text-left">
                        <h2 class="text-primary text-xl md:text-3xl font-extrabold mb-4">Step 2</h2>
    
                        <p>Every player will some time writing down 3 impressions they have of every other player.<br>
                            Don't tell each other anything about this yet!
                        </p>
                    </div>

                    <div class="divider"></div>
                    
                    <div class="text-left">
                        <h2 class="text-primary text-xl md:text-3xl font-extrabold mb-4">Step 3</h2>
    
                        <p>The turn order starts from the youngest player to the oldest player.<br>
                            The first player will read out a question and every other player will respond.<br>
                            The active player is allowed to ask follow-up questions, but other players can decline to answer.
                        </p>
                    </div>

                    <div class="divider"></div>

                    <div class="text-left">
                        <h2 class="text-primary text-xl md:text-3xl font-extrabold mb-4">Step 4</h2>
    
                        <p>Once the active player's turn is up, the turn goes to the second player, who reads the next question displayed.<br>
                            Once the question is read, every other player will respond.
                            As all players progress through the stages, the questions are meant to become more personal.
                        </p>
                    </div>

                    <div class="divider"></div>
    
                    <div class="text-left">
                        <h2 class="text-primary text-xl md:text-3xl font-extrabold mb-4">Step 5</h2>
    
                        <p>At the end of the game, each player shares the first impression of other players that they wrote earlier.<br>
                            After reading out the first impressions, players are also encouraged to share how that impression has changed over
                            the course of this game.
                        </p>
                    </div>
                </div>
                <div class="divider"></div>
                <a href="{% url 'cards:play' %}" class="btn btn-primary my-5">Ready to play?</a>
            </div>
        </div>
    </div>

    <script>
        const twoPlayerTab = document.getElementById("twoPlayerTab");
        const twoPlayerTabContent = document.getElementById("twoPlayerTabContent");
        const morePlayersTab = document.getElementById("morePlayersTab");
        const morePlayersTabContent = document.getElementById("morePlayersTabContent");

        morePlayersTab.addEventListener("click", function() {
            morePlayersTab.setAttribute('class', "tab lg:w-32 font-bold tab-active");
            twoPlayerTab.setAttribute('class', "tab lg:w-32");
            morePlayersTabContent.removeAttribute('class');
            twoPlayerTabContent.setAttribute('class', 'hidden');
        });

        twoPlayerTab.addEventListener("click", function() {
            twoPlayerTab.setAttribute('class', "tab lg:w-32 font-bold tab-active");
            morePlayersTab.setAttribute('class', "tab lg:w-32");
            twoPlayerTabContent.removeAttribute('class');
            morePlayersTabContent.setAttribute('class', 'hidden');
        });
    </script>
</section>

{% endblock content %}