{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Christian Connection Cards | Connect with your church family</title>
</head>
<body>
<main class="container">
    <div class="row text-center justify-content-center">
        <div class="col">
            <h1 class="display-4">Hello!</h1>
            <p>Here's how to play this game.</p>
            <ol>
                <li>Choose the number of cards you want to play per stage.</li>
                <li>Answer the questions that show up on the cards.</li>
                <li>At the end of the game, write a short note to each other. Don't read it until you have left the room!</li>
            </ol>
            <form method="post">
                {% csrf_token %}
                <!-- TODO add validation for min and max. Or actually, change it into a dropdown -->
                <label for="num_cards">Number of cards per stage</label>
                <input type="text" id="num_cards" name="num_cards" type="number" min="3" max="10" required>
                <input type="submit" value="Submit">
            </form>
            
        </div>
    </div>
</main>
</body>
</html>