{% extends 'base.html' %}
{% load static %}

{% block title %}Connect with your Christian Family{% endblock title %}

{% block content %}
<section class="mx-auto px-5 md:px-20 min-w-5xl max-w-full py-10">
    <div class="hero h-fit">
        <div class="hero-content flex-col lg:flex-row gap-x-9">
          <img src="{% static 'images/' %}{{ random_image }}" alt="Illustration of a human by Pablo Stanley" class="h-72 w-auto lg:h-auto lg:w-2/6" />          
          <div class="lg:w-4/6 flex-col justify-start">
            <h1 class="text-3xl md:text-5xl font-black">A church card game designed for real connection.</h1>
            <p class="mt-4 mb-8">Dive deeper with your brothers and sisters in Christ. Explore and connect through meaningful conversations.</p>
            <div class="flex flex-row">

              <div class="card card-bordered p-8  min-w-full md:min-w-[50%]">
                  <form method="post">
                      {% csrf_token %}
                      <div class="form-control w-full mb-4">
                          <label class="label flex-row gap-x-2 justify-start">
                            <span class="label-text">Number of questions per stage: </span><span class="label-text" id="cardNumberSpan">{{ default_cards }}</span>
                          </label>
                          <input id="cardNumberRange" name="num_cards" type="range" min="3" max="{{ max_cards }}" value="{{ default_cards }}" class="range range-xs range-primary max-w-xs" required/>
                      </div>
                      <div class="flex flex-col gap-y-4 lg:flex-row lg:gap-x-4 lg:items-center">
                        <input type="submit" class="btn btn-primary btn-outline" value="Start Playing"/>
                        <a href="{% url 'cards:how_to_play' %}" class="text-xs">How do I play?</a>
                      </div>
                  </form>
                </div>
            </div>
          </div>
        </div>
      </div>    
    <!-- Script to compute range input -->
    <script>
        // Get references to the input range and the span element
        const rangeInput = document.getElementById("cardNumberRange");
        const rangeValue = document.getElementById("cardNumberSpan");
      
        // Add an event listener to the input range
        rangeInput.addEventListener("input", function() {
          // Update the text content of the span with the current value of the range
          rangeValue.textContent = rangeInput.value;
        });
      </script>
</section>
{% endblock content %}