{% extends 'base.html' %}
{% load static %}

{% block title %}Connect with your Christian Family{% endblock title %}

{% block content %}
<section class="mx-auto px-5 md:px-20 min-w-5xl max-w-full py-10">
    <div class="hero h-fit">
        <div class="hero-content flex-col lg:flex-row gap-x-9">
          <img src="{% static 'images/' %}{{ random_image }}" alt="Illustration of a human by Pablo Stanley" class="h-72 w-auto lg:h-auto lg:w-2/6" />          
          <div class="lg:w-4/6 flex-col justify-start">
            <h1 class="text-3xl md:text-5xl font-bold">A church card game designed for real connection.</h1>
            <p class="mt-4 mb-8">Get real with your brothers and sisters in Christ. Start asking each other questions that go beyond the norm.</p>
            <div class="card card-bordered p-8">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-control w-full mb-4">
                        <label class="label flex-row gap-x-2 justify-start">
                          <span class="label-text">Number of questions per stage: </span><span class="label-text" id="cardNumberSpan">5</span>
                        </label>
                        <!-- TODO: make the max dynamic -->
                        <input id="cardNumberRange" name="num_cards" type="range" min="3" max="15" value="5" class="range range-xs range-primary max-w-xs" required/>
                    </div>
                    <input type="submit" class="btn btn-primary btn-outline" value="Start Playing"/>
                </form>
              </div>
          </div>
        </div>
      </div>
    <!-- Attribution: -->
    <!-- <p>Illustrations by <a href="https://iconscout.com/contributors/humaaans" target="_blank">Pablo Stanley</a></p> -->
    <!-- Script to compute range input -->
    <script>
        // Get references to the input range and the span element
        const rangeInput = document.getElementById("cardNumberRange");
        const rangeValue = document.getElementById("cardNumberSpan");
      
        // Add an event listener to the input range
        rangeInput.addEventListener("input", function() {
          // Update the text content of the span with the current value of the range
          rangeValue.textContent = rangeInput.value;
        });
      </script>
</section>
{% endblock content %}