{% extends 'base.html' %}
{% load static %}

{% block title %}Play{% endblock title %}
{% block content %}
<section class="mx-auto justify-center px-20 max-w-7xl py-10">
    <!-- <div class="tabs tabs-boxed">
        <a class="tab tab-active">Stage 1: Belief and Identity</a> 
        <a class="tab">Stage 2: Community and Relationships</a> 
        <a class="tab">Stage 3: Purpose and Mission</a>
      </div> -->
    <div class="stats">
        <div class="stat">
            <div class="stat-desc">Question #<span id="currentQuestionNumber"></span> out of {{ num_cards }}</div>
            <div class="stat-value">Stage <span id="stageNumber">1</span></div>
        </div>
      </div>
    <progress id="progressBar" class="progress progress-primary w-full mb-12" value="1" max="{{ num_cards }}"></progress>
    
    <div class="card card-bordered min-h-max px-5 md:px-10 lg:px-20 py-20 lg:h-96">
        <p id="currentQuestion" class="text-2xl md:text-4xl lg:text-5xl font-extrabold text-center my-auto"></p>
    </div>    
    <div class="join grid grid-cols-2 mt-12">
        <button id="previousQuestion" class="join-item btn btn-outline btn-disabled">Previous</button>
        <button id="nextQuestion" class="join-item btn btn-outline">Next</button>
      </div>
    {{ serialised_questions|json_script:"json-data"|safe }}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var currentQuestionIndex = 1;
            var questions = JSON.parse(JSON.parse(document.getElementById("json-data").textContent));
            console.log(typeof questions)
            console.log(questions)
            console.log(typeof questions[0])
            console.log(questions[0])
            
            const stageNumberElement = document.getElementById('stageNumber');
            const currentQuestionNumberElement = document.getElementById('currentQuestionNumber');
            const progressBarElement = document.getElementById('progressBar')
            const currentQuestionText = document.getElementById('currentQuestion');
            const previousButton = document.getElementById('previousQuestion');
            const nextButton = document.getElementById('nextQuestion');

            function updateQuestion() {
                var currentQuestion = questions.find(a => a.index == currentQuestionIndex);
                stageNumberElement.innerText = currentQuestion['stage'];
                currentQuestionNumberElement.innerText = currentQuestion['index'];
                progressBarElement.setAttribute('value', currentQuestion['index']);
                currentQuestionText.innerText = currentQuestion['question'];
                
                if (currentQuestionIndex > 1) {
                    previousButton.classList.remove('btn-disabled');
                } else {
                    previousButton.classList.add('btn-disabled');
                };

                if (currentQuestionIndex < parseInt('{{ num_cards }}')) {
                    nextButton.classList.remove('btn-disabled');
                    nextButton.innerHTML = 'Next'
                } else {
                    nextButton.classList.add('btn-disabled');
                    nextButton.innerHTML = 'Done!'
                };

            }

            function handlePreviousClick() {
                if (currentQuestionIndex > 1) {
                    currentQuestionIndex--;
                    updateQuestion();
                };
            }

            function handleNextClick() {
                if (currentQuestionIndex < parseInt('{{ num_cards }}')) {
                    currentQuestionIndex++;
                    updateQuestion();
                };
            }

            previousButton.addEventListener('click', handlePreviousClick);
            nextButton.addEventListener('click', handleNextClick);

            updateQuestion();
        });
    </script>

</section>

{% endblock content %}