{% extends 'base.html' %}
{% load static %}

{% block title %}Question Bank{% endblock title %}
{% block content %}
<section class="mx-auto px-5 md:px-20 min-w-5xl max-w-full py-10">
    <div class="hero">
        <div class="hero-content lg:max-w-3xl text-center">
            <div>
                <h1 class="text-3xl md:text-5xl font-black">Question Bank</h1>
                <div class="overflow-x-scroll py-10">
                    <table class="table table-xs">
                      <thead>
                        <tr>
                          <th>#</th> 
                          <th>Stage</th> 
                          <th>Question</th> 
                        </tr>
                      </thead> 
                      <tbody>
                        {% for q in questions %}
                            <tr>
                                <th>{{ forloop.counter }}</th>
                                <td>{{ q.stage }}</td>
                                <td>{{ q.question }}</td>
                            </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}